Source: sci-udev-netrules
Section: admin
Priority: extra
Maintainer: Vladimir Ipatov <vs@ipatov.net>
Uploaders: Vladimir Ipatov <vs@ipatov.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://github.com/vladimir-ipatov/sci-udev-netrules/
Vcs-Browser: https://github.com/vladimir-ipatov/sci-udev-netrules.git

Package: sci-udev-netrules
Architecture: all
Depends: ${misc:Depends}, udev
Breaks: systemd
Description: Debian package for legacy interface naming: eth[0-9]
 Must be used only for systems WITHOUT systemd, with kernel options net.ifnames=0 biosdevname=0
